*{
    font-family: 'Plus Jakarta Sans';
    max-width: 1920px;
}




.header-text{
    float: left;
    display: flex;
    flex-direction: row;
    gap: 30px;
    color: #222222;
    margin-top:15px;
    cursor: pointer;

}

.header-image{
float: left;
margin-right: 360px;
margin-left: 50px;

}

.cart{
    display: flex;
    float: left;
    margin-top: 15px;
    margin-left: 360px;
    gap: 15px;
    cursor: pointer;
}
.blue0{
    color:#3F53D8;
}

.beta{
    float: right;
    margin-top: 10px;
    margin-right: 50px;
    padding: 10px 15px;
    border:1px solid #08082933;
    cursor: pointer;
    border-radius: 14px;
}

.hdcamera{
    float: right;
    margin-top: 150px;
    margin-right: 200px;
}
.krasniychel{
    position: absolute;
    display: flex;
    float: right;
    margin-left: 1400px;
    margin-top: 125px;
}
.siniychel{
    position: absolute;
    display: flex;
    float: right;
    margin-left: 970px;
    margin-top: 280px;
}

.chelnarozovomfone{
    position: absolute;
    display: flex;
    float: right;
    margin-left: 1355px;
    margin-top: 330px;
}
.manageuser{
    position: absolute;
    display: flex;
    float: right;
    margin-left: 980px;
    margin-top: 620px;
}
.pinkdot{
    position: absolute;
    display: flex;
    float: right;
    margin-left: 980px;
    margin-top: 523px;
}

.transformyourteamwork{
    position: absolute;
    font-weight: 200;
    display: flex;
    float: left;
    font-size: 63px;
    line-height: 79px;
    letter-spacing: 2.16px;
    margin-left: 160px;
    margin-top: 120px;
}

.stopwasting{
    position: absolute;
    font-weight: 200;
    display: flex;
    float: left;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.36px;
    margin-left: 160px;
    margin-top: 540px;
}
.trial{
    float: right;
    position: absolute;
    display: flex;
    margin-top: 685px;
    margin-left:155px;
    padding: 17px 40px;
    cursor: pointer;
    background: #3F53D8;
    border-radius: 14px;

}

.norequired{
    float: right;
    position: absolute;
    display: flex;
    margin-left: 410px;
    margin-top: 666px;
}
.textmore{
    float: right;
    position: absolute;
    display: flex;
    font-weight: 400;
    font-size: 22px;
    line-height: 31px;
    letter-spacing: 0.48px;
    color: #080829;
    margin-top: 870px;
    margin-left: 700px;
}

.teams{
    float: right;
    position: absolute;
    display: flex;
    gap: 30px;
    margin-left: 350px;
    margin-top: 960px;
}
.features{
    float: right;
    position: absolute;
    display: flex;
    font-weight: 400;
    font-size: 43px;
    line-height: 56px;
    letter-spacing: 0.48px;
    color: #080829;
    margin-top: 1100px;
    margin-left: 640px;
}

.transform{
    float: right;
    position: absolute;
    display: flex;
    font-size: 18px;
    line-height: 29px;
    margin-top: 1170px;
    margin-left: 660px;
    letter-spacing: 0.36px;
    color: #545479;
}